version: '3.8'

services:
  # Serviço do Banco de Dados (PostgreSQL)
  db:
    image: postgres:13
    container_name: erp-db
    restart: always
    environment:
      POSTGRES_USER: arodrigues
      POSTGRES_PASSWORD: '123456'
      POSTGRES_DB: gearserp
    volumes:
      - ./db/data:/var/lib/postgresql/data  # Persistência do banco
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U arodrigues -d gearserp"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  # Serviço do Backend (Node.js)
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: erp-backend
    restart: always
    working_dir: /app
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    entrypoint: >
      sh -c "
      echo '⏳ Aguardando banco de dados...';
      until nc -z db 5432; do
        sleep 1;
        echo '⏳ Aguardando banco de dados...';
      done;
      echo '✅ Banco de dados está pronto!';
      npm start"
    networks:
      - app_network

  # Serviço do Frontend (React/Vite com Apache)
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: erp-frontend
    restart: always
    ports:
      - "80:80"  # Apache servirá na porta 80
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
